<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930461821085-t3nu6addo917n9v6hbn6lk708lsq35m9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930461821085-t3nu6addo917n9v6hbn6lk708lsq35m9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>930461821085-p3k6ff9h0s18krsck6r4s5rn1rmfmcf2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVsSqKZVDngA52o1cFqMEEBYSMKGtPTP8</string>
	<key>GCM_SENDER_ID</key>
	<string>930461821085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.discovrr.testing</string>
	<key>PROJECT_ID</key>
	<string>discovrrapp-88c28</string>
	<key>STORAGE_BUCKET</key>
	<string>discovrrapp-88c28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930461821085:ios:3aa4aa366933a477678c74</string>
</dict>
</plist>