<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401222439990-6dpbmvbrbqt76l9cc7q6g16l8b483rjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401222439990-6dpbmvbrbqt76l9cc7q6g16l8b483rjq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>401222439990-02gm0udfphnvnomqm3t9iad88u515d53.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDc-4degaKOviOX-NVRJ68F3_C0C8znjlM</string>
	<key>GCM_SENDER_ID</key>
	<string>401222439990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.discovrr.debug</string>
	<key>PROJECT_ID</key>
	<string>discovrr-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>discovrr-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:401222439990:ios:29eab7109fee1aceb23497</string>
</dict>
</plist>
